body {
  /* background-color: red; */
  font-size: 16px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
}

.info p {
  color: gray;
  font-style: italic;
  font-weight: bold;
  /* text-decoration: underline; */
  /* text-transform: capitalize; */
  /* letter-spacing: 15px; */
  /* word-spacing: 42px; */
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .social {
  background: green;
  padding: 15px;
  border: 5px solid red;
  margin: 50px;
  outline-color: yellow;
} */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}

a:visited {
  color: orange;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.social {
  margin-bottom: 20px;
}

.list li {
  padding: 0 20px;
  color: gray;
  margin-bottom: 10px;
  /* list-style: none; */
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: grey;
}

/* .table tr:nth-child(even) {
  background-color: red;
} */

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: gray;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
}

.row > .form-group:first-child {
  margin-right: 20px;
}
